name: android-gradle-prebuilt-release-actions-workflow
on:
  push:
  
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      
    - name: Build with Gradle
      run: |
        gradle init \
        --type java-application \
        --dsl kotlin \
        --test-framework junit-jupiter \
        --package my.project \
        --project-name my-project  \
        --no-split-project  \
        --java-version 17

    - run: |
        ls -R
