name: gradle-prebuilt-release-actions-workflow
on:
  push:
    paths-ignore: "**/README.md"
    # # Sequence of patterns matched against refs/tags
    # tags:
    #   - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
    #   - 'c*'

permissions:
    contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    env:
      app-name: my-app
      working-directory: project
    strategy:
      matrix:
        java-version: [ 17, 21, 22 ] #[8, 11, 16, 17, 21, 22]
        gradle-version: [ 8.6 ]
        template:
          - basic
          - java-application
          - java-library
          # - kotlin-application
          # - kotlin-library
          # - scala-application
          # - scala-library
          - cpp-application
          - cpp-library
    steps:
    - name: Set up JDK
      uses: actions/setup-java@v5.0.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: ${{ matrix.gradle-version }}

    - name: Build with Gradle
      if: ${{ matrix.template == 'basic' }}
      run: |
        mkdir ${{ env.working-directory }} && \
        cd ${{ env.working-directory }} && \
        gradle init \
        --type ${{ matrix.template }} \
        --dsl kotlin \
        --test-framework none \
        --project-name ${{ env.app-name }}  \
        --no-split-project  \
        --java-version ${{ matrix.java-version }}
      
    - name: Build with Gradle
      if: ${{ startsWith(matrix.template, 'java') }}
      run: |
        mkdir ${{ env.working-directory }} && \
        cd ${{ env.working-directory }} && \
        gradle init \
        --type ${{ matrix.template }} \
        --dsl kotlin \
        --test-framework junit-jupiter \
        --package my.project \
        --project-name ${{ env.app-name }}  \
        --no-split-project  \
        --java-version ${{ matrix.java-version }}

# --test-framework cpptest \
    - name: Build with Gradle
      if: ${{ startsWith(matrix.template, 'cpp') }}
      run: |
        mkdir ${{ env.working-directory }} && \
        cd ${{ env.working-directory }} && \
        gradle init \
        --type ${{ matrix.template }} \
        --dsl kotlin \
        --test-framework none \
        --project-name ${{ env.app-name }}  \
        --no-split-project  \
        --java-version ${{ matrix.java-version }}
        
    - working-directory: ${{ env.working-directory }}
      run: |
        ls -R
        
    - uses: actions/upload-artifact@v4.6.0
      with:
        name: "my-${{ matrix.template }}-app-jdk-${{ matrix.java-version }}-gradle-${{ matrix.gradle-version }}"
        path: "${{ env.working-directory }}"
